<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083952928169-pvoeqe4oefta8k6gip5qhvohic7g9gqn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083952928169-pvoeqe4oefta8k6gip5qhvohic7g9gqn</string>
	<key>API_KEY</key>
	<string>AIzaSyDHxT_POBIRf3Ef0BEuE5a1F85u-_yW89k</string>
	<key>GCM_SENDER_ID</key>
	<string>1083952928169</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skb.btvplus</string>
	<key>PROJECT_ID</key>
	<string>sk-broadband</string>
	<key>STORAGE_BUCKET</key>
	<string>sk-broadband.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083952928169:ios:af9be6f41476e7d9fde0b8</string>
	<key>DATABASE_URL</key>
	<string>https://sk-broadband.firebaseio.com</string>
</dict>
</plist>