<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>557387977629-djlpjj4ubjvr0m1vlosfdaijiiaaon71.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.557387977629-djlpjj4ubjvr0m1vlosfdaijiiaaon71</string>
	<key>API_KEY</key>
	<string>AIzaSyAW8_ogvDOMoTc9WaKhLzpra22khLVK0Tc</string>
	<key>GCM_SENDER_ID</key>
	<string>557387977629</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skb.btvplus.BtvPlusNew</string>
	<key>PROJECT_ID</key>
	<string>btvplusnew</string>
	<key>STORAGE_BUCKET</key>
	<string>btvplusnew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:557387977629:ios:91e08d4a22e7b5a27d5574</string>
</dict>
</plist>